body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.titol{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #413d3d;
    text-align: center;
}

.titol2{
    width: 1000px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #413d3d;
    text-align: center;
}

.titol h1, .titol2 h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.company h1{
    position: absolute;
    right: 60%

}




.upload{
    font-size: 16px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    width: 350px;
    outline: none;
    margin-top: 100px;
}

::-webkit-file-upload-button{
    color: white;
    background: #e05e12;
    padding: 20px;
    border: none;
    border-radius: 50px;
    transition: background .5s;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
}

::-webkit-file-upload-button:hover{
    background: #b34709;
}

.cuadre{
    width: 40%
    
}

.titol input[type="submit"], .boto{
    background: none;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.titol2 .boto{
    width: 20%;
}

.titol input[type="submit"]:hover, .boto:hover{
    background: #2ecc71;
}

