<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>HTML</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="{{ url_for('static', filename='app.css')}}"
			rel="stylesheet"
			type="text/css"
		/>
	</head>

	<body>
		<div class="titol">
			<h1>Delete IOCs from Crowd</h1>
			<br />
			<div id="content" class="container">
				<input id="input" type="file" name="file" class="upload" />
				<br />
				<br /><br />
				<button id="start" class="boto">Delete IOCs</button>
			</div>
		</div>

		<script>
			function sendReq() {
				const btnEl = document.getElementById("start");
				const fileInput = document.getElementById("input");
				var file = "";

				fileInput.onchange = () => {
					file = fileInput.files[0];
				};

				btnEl.addEventListener("click", function (e) {
					if (file == "") {
						alert("Please select a file");
						return;
					}
					let prevBufferEnd = 0;
					let total = 0;
					let div = document.getElementById("content");
					div.innerHTML = "";
					let myProgress = document.createElement("div");
					let myBar = document.createElement("div");
					myProgress.id = "myProgress";
					myBar.id = "myBar";
					myProgress.appendChild(myBar);
					div.appendChild(myProgress);

					const xhr = new XMLHttpRequest();

					xhr.addEventListener("progress", function (e) {
						let currentProgress =
							e.currentTarget.responseText.substring(
								prevBufferEnd,
								e.currentTarget.responseText.length
							);
						prevBufferEnd = e.currentTarget.responseText.length;
						const respData = JSON.parse(currentProgress);

						if (respData) {
							if (respData["total"]) {
								total = respData.total;
							} else if (respData["progress"]) {
								const { progress } = respData;
								const percent = (progress / total) * 100;
								var elem = document.getElementById("myBar");
								elem.style.width = percent.toFixed(1) + "%";
								elem.innerHTML = percent.toFixed(1) + "%";
							} else if (respData["finished"]) {
								var div = document.getElementById("content");
								var h3 = document.createElement("h3");
								h3.innerHTML = "Finished deleting IOCs!";
								div.innerHTML = "";
								div.appendChild(h3);
							} else if (respData["error"]) {
								alert(respData.error);
							}
						}
					});

					xhr.addEventListener("loadend", function (e) {
						btnEl.disabled = false;
					});
					var formData = new FormData();
					formData.append("file", file);
					xhr.open("post", "/api/delete");
					xhr.send(formData);
				});
			}
		</script>
	</body>
</html>
