<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Update IOCs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="{{ url_for('static', filename='app.css')}}"
			rel="stylesheet"
			type="text/css"
		/>
	</head>

	<body>
		<div class="titol">
			<h1>Update with the following actions the IOCs to Crowd</h1>
			<br />
			<div id="content" class="container">
				<select name="action" id="action" required>
					<option value="detect">Detect</option>
					<option value="prevent">Prevent</option>
				</select>
				<br /><br />
				<input id="input" type="file" name="file" class="upload" />
				<br /><br />
				<button id="start" class="boto">Update IOCs</button>
			</div>
		</div>

		<script>
			function sendReq() {
				const btnEl = document.getElementById("start");
				const fileInput = document.getElementById("input");
				var file = "";

				fileInput.onchange = () => {
					file = fileInput.files[0];
				};

				btnEl.addEventListener("click", function (e) {
					const xhr = new XMLHttpRequest();

					xhr.addEventListener("progress", function (e) {
						let currentProgress =
							e.currentTarget.responseText.substring(
								prevBufferEnd,
								e.currentTarget.responseText.length
							);
						prevBufferEnd = e.currentTarget.responseText.length;
						const respData = JSON.parse(currentProgress);

						if (respData) {
							if (respData["total"]) {
								total = respData.total;
							} else if (respData["progress"]) {
								const { progress } = respData;
								const percent = (progress / total) * 100;
								var elem = document.getElementById("myBar");
								elem.style.width = percent.toFixed(1) + "%";
								elem.innerHTML = percent.toFixed(1) + "%";
							} else if (respData["finished"]) {
								var div = document.getElementById("content");
								var excel = document.createElement("a");
								excel.href = "/api/getExcel";
								excel.type = "button";
								excel.innerHTML = "Download Excel";
								excel.classList.add("boto");
								var text = document.createElement("a");
								text.href = "/api/getText";
								text.type = "button";
								text.innerHTML = "Download Text";
								text.classList.add("boto");
								div.innerHTML = "";
								div.appendChild(excel);
								div.appendChild(document.createElement("br"));
								div.appendChild(text);
							} else if (respData["error"]) {
								alert(respData.error);
							}
						}
					});

					xhr.addEventListener("loadend", function (e) {
						btnEl.disabled = false;
					});
					var formData = new FormData();

					if (file == "") {
						alert("Please select a file");
						return;
					}

					formData.append("file", file);
					formData.append(
						"action",
						document.getElementById("action").value
					);
					let prevBufferEnd = 0;
					let total = 0;
					let div = document.getElementById("content");
					div.innerHTML = "";
					let myProgress = document.createElement("div");
					let myBar = document.createElement("div");
					myProgress.id = "myProgress";
					myBar.id = "myBar";
					myProgress.appendChild(myBar);
					div.appendChild(myProgress);

					xhr.open("post", "/api/update");
					xhr.send(formData);
				});
			}
		</script>
	</body>
</html>
